@import url('https://fonts.googleapis.com/css?family=Nunito:regular,bold,italic&subset=latin,latin-ext');

.pedido-container{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.pedido-container main{
  background-color: #D2C1B0;
  width: 100%;
  overflow-y: scroll;
}

.pedido-container main::-webkit-scrollbar {
  display: none;
}

.pedido-container main {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.div-opcoes{
  font-family: Nunito;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 0 50px;
}

.drink-options-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 40px;
}

.drink-sizes-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 40px;
}

p{
  margin: 0;
}

#b-title{
  font-weight: bold;
}